.container-header {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  padding-top: 109px;
  padding-bottom: 109px;
  background-image: url(../img/background/background-header.png);
  background-position: center;
  background-size: cover;  
}
.header::after {
  content: "";
  width: 100%;
  height: 100%;
  background:rgba(0, 0, 0, 0.45);
  position: absolute;
  top: 0;
  left: 0;
}

.header-logo {
  color: #fff;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 32px;
}
.header-logo::after {
  content: "IT";
  color: red;
  display: inline-block;
}
.header__title-h2 {
  width: 544px;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 34px; 
}
.header__title-h2::after {
  content: "";
  width: 62px;
  height: 1px;
  background-color: #ffffff;
  display:block;
  margin-top: 30px;
}

.header-descr__text {
  width: 275px;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 39px;
  color: rgba(255, 255, 255, 0.8); 
}

.header-dowm {
  display: inline-block;
  color: #FFFFFF;
  padding: 0px 26px;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 15px;
  line-height: 42px;
  border: 1px solid #FFFFFF;
}

.header-form__content {
  padding: 0 60px 60px 60px;
  border-radius: 8px 8px 0 0;
  background-color: #fff;

}

.header-form_title {
  line-height: 56px;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 44px;

}
.header-form__title-span {
  color: #EC7979;
  text-transform: uppercase;
}
.form-items__group {
  
}
.form-item__label {
  color: #BDBDBD;
  display: block;
  font-size: 14px;
  line-height: 19px;
}
.form-item__input {
  border: none;
  width: 100%;
  border-bottom: 1px solid #BDBDBD;
  margin-bottom: 16px;
  outline: none;
}
.form-item__input:focus {
  border-bottom: 1px solid #1a73a8;
}
.header-form__button {
background-color: #EC7979;
color: #fff;
font-size: 15px;
line-height: 53px;
border-radius: 0 0 8px 8px;
width: 380px;
border: none;
}
