.pricing {
  background: #E5E5E5;
}
.price__title-h2::after {
  content: "";
  margin: auto;
  width: 62px;
  height: 2px;
  background-color: #D98943;
  display:block;
  margin-top: 30px;
}
.price-descr__text {
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  margin-bottom: 63px;
  color: #86878B;
}
.price-card__row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 -15px;
}
.price-card__item {
  max-width: 340px;
  width: 100%;
  margin-bottom: 20px;
  margin: 0 15px 0 15px;
}
.price-card__title {
  background:  #333333;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  margin-bottom: 2px;
  font-size: 20px;
  font-weight: bold;
}
.price-card__price {
  background:  #333333;
  color: #ffffff;
  text-align: center;
  line-height: 100px;
  margin-bottom: 2px;
  font-size: 35px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
}
.price-card__life {
  background:  #333333;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  line-height: 50px;
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 600;
}
.price-card__text {
  text-align: center;
  color: #86878B;
  background: #FFFFFF;
  line-height: 40px;
  margin-bottom: 2px;
  font-size: 14px;
}
.price-card__life {
  display: block;
  transition: 0,25s;
}
.price-card__life:hover {
  background: #D98943;
}

