.container-social {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social {
  padding-top: 14px;
  padding-bottom: 17px;
  background: #F8EFEF;
  background-position: center;
  background-size: cover;  
}
.social-desc {
  max-width: 365px;

}
.social-title {
  color: #333333;
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 14px;
}
.social-text {
  font-size: 14px;
  color: #86878B;

}
.row-social {
  width: 684px;
  
}
.row-social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-icon {
  font-size: 42px;
  color: #86878B;
}
.social-icon:hover {
  color: #da70d6;
}